* {
    a,
    a:active,
    a:visited{
        &:hover{
            text-decoration: none!important;
            transition:all .3s;
        }

        color: $secondary;
    }
}

h1,h2,h3,h4,h5 {
    letter-spacing: -1px;
}

h2 {
    font-size:2em!important;
    font-weight: 600!important;
    letter-spacing:-1px;
}

h1 {
    font-size:2.3em!important;
    font-weight: 700!important;
    letter-spacing: -2px;
}