@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');

//varaiveis de cor
$primary: #333;
$secondary: rgb(0, 77, 139);
$tertiary: rgba($secondary, 0.7);
$red: #ff6161;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "tertiary": $tertiary,
    "red": $red
);
