@import 'variables';

.custom-bg {
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    color:white;

    &::before {
        content: '';
        display:block;
        width:100%;
        height:100%;
        position: absolute;
        top:0px;
        left:0px;
        background: rgba($secondary, .9);
        z-index: 0;
    }

    .container {
        position: relative;
        z-index: 10;
    }

    .logo {
        font-size:2rem;
        color:$secondary;
    }

    .card {

        &.disabled {
            position:relative;

            &::before {
                content: '';
                display:block;
                width:100%;
                height:100%;
                background:rgba(236, 236, 236, .5);
                top:0px;
                left:0px;
                position:absolute;
            }
        }
        
        color:$primary;
        form {
            label {
                color:$secondary;
            }
            .form-control{
                &:focus {
                    outline: none;
                    box-shadow: none;
                    border:none;
                    background: $secondary;
                    color:#FFF;
                }

                &[type=password]{
                    font-weight: bold;
                }
            }
        }
    }
}

//wecome
#welcome {
    .presentation {
        color:#FFF;
        font-size:1.3rem;

        h1 {
            color:#FFF;
            font-size:5rem!important;
            margin-bottom:1rem;
        }

        h2 {
            font-size:2.5rem!important;
            color:$red;
        }
    }
}

//LGPD
#lgpd {
    position: fixed;
    transition:all .3s;
    bottom:0px;
    left:0px;
    width: 100%;
    background: #FFF;
    padding:.5em 0;
}